.heading{
    text-align: center;
    margin-top: 4%;
}
body{
    margin-top: 0px;
    background-color: #C2C5CD;
}
.box{
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    background-color: white;
    }
section{
    background-color: white;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 10px;
    padding-bottom: 20px;
    height: auto;
    display:flex;

}
.heading2{
    padding-left: 20px;
    text-align: justify;
    padding-right: 10px;

}

img{
    height:auto;
    width: 100%;
    object-fit:cover;
}

h4{
    padding: 20px;
}